/*=============== RESET ===============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

/* CONTAINER */

#container{
    width: 80%;
    margin: auto;
}

/* CABECALHO - MENU */

.menu{
    width: 100%;
    background-color: #161F2A;
    overflow: auto;
    padding: 10px;
}

.logo{
    width: 50%;
    float: left;
    position: relative;
}

.logo img{
    position: absolute;
    left: 40%;
}

.menu ul{
    width: 50%;
    float: right;
    text-align: right;
}

.menu li{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    margin: 0 20px;
}

.menu li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #465567;
}

.menu li a:hover{
    color: #B1B0B5;
}

/* CABECALHO - TOPO */

.topo{
    clear: both;
}

.topo img{
    width: 100%;
    display: block;
}

/* MAIN sessão 1*/

.s-1{
    padding: 80px;
}

/* sessão-1 - portifolio */

.portfolio{
    text-align: center;
}

.portfolio h2{
    font-size: 2.5em;
    margin-bottom: 30px;
}

.portfolio p{
    display: inline-block;
    width: 80%;
    line-height: 2;
}

/* sessão-1 - galeria */

.galeria{
    margin-top: 10%;
    text-align: center;
}

.card{
    display: inline-block;
    margin-bottom: 3%;
}

.card h3{
    font-size: 18px;
    color: rgb(46, 46, 46);
    margin: 3% 0;
}

.card p{
    color: rgb(80, 78, 78);
}

.c-1, .c-2{
    margin-right: 2%;
}

/* MAIN sessão 2*/

.s-2{
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    padding: 80px;
}

.s-2 h2{
    width: 60%;
    color: white;
    font-size: 3em;
    margin-bottom: 5%;
}

.s-2 p{
    width: 40%;
    color: white;
    line-height: 1.5;
}

/* MAIN sessão 3*/

.s-3-content{
    padding: 70px;
    font-size: 2em;
    color: #003D52;
    text-align: center;
}

.s-3 iframe{
    width: 100%;
    margin-bottom: 5%;
}

/* RODAPE */

.rodape{
    padding: 20px;
    background-color: #001018;
    text-align: center;
}

.rodape p{
    color: #515352;
    letter-spacing: 5px;
}